output/
templates/~$mplate_mod_12.docx
finalized/
.streamlit/google_sheets_access_key.json
.streamlit/secrets.toml
templates/~$mplate_mod_12_noScore.docx
templates/~WRL3783.tmp
templates/~$mplate_mod_12_noBrackets.docx
audio_test/
templates/~WRL0005.tmp
templates/~$mplate_mod_12_no_autism.docx
templates/~WRL3629.tmp
templates/~$mplate_mod_12_with_rec.docx
audio_test_local.py
templates/~$mplate_mod_3.docx
templates/~$mplate_mod_3_noAutism.docx
templates/~WRL0003.tmp
templates/~$mplate_mod_3_no_autism.docx
templates/~$mplate_mod_4.docx
templates/~WRL3295.tmp
~$st_percent_mod4.docx
templates/~$mplate_mod_4_no_wais.docx
notepad.txt
